<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container">
        <a routerLink="/Admin"><img class="navbar-brand" style="height: 50px; width:fit-content;" src="../../assets/Images/main_home_logo.png" alt="UC_logo"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav_option">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="nav_option" class="collapse navbar-collapse justify-content-end">
            <ul class=" text-light navbar-nav" type="none">
                <a routerLink="Login" class="m-2 text-light nav-link" (click)="LogOut()" id="login_logout">LogOut</a>
            </ul>
        </div>
    </div>
</nav>