<div class="m-0 p-0 sticky-top">
    <app-header></app-header>
</div>
<div class="m-0">
    <section>

        <div class="container-fluid m-0 p-0" style="background-image: url(./assets/Images/Category_SalonForWomen_bg.jpg); height: auto; width: 100%; background-size: cover;">            
            <div class="container-fluid" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)); height: auto; width: 100%; background-size: cover;">
                <div class="pt-5 row d-flex flex-wrap justify-content-around">
                    <div class="col-md-3 col-sm-12 p-1 mx-2 my-5 text-center align-self-center" style="background-color: rgba(0, 0, 0, 0.7);" *ngFor="let S of services_list; let i=index">
                        <a [routerLink]="['/',category,'SubService',S.serviceName,S.serviceId]" class="nav-link text-light">
                            <!-- <img class="" src="../../assets/Images/.jpg" style="background-image:linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,0.4));"> -->
                            <h3 class="p-0 m-0">{{S.serviceName}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container mx-1">
            <nav class="navbar navbar-expand-md navbar-light bg-light mx-3">
                <div class="navbar-nav">
                    <div class="nav-item active">
                        <a href="{{location}}/{{category}}#details" class="nav-link">Description</a>
                    </div>
                    <div class="nav-item">
                        <a href="{{location}}/{{category}}#providers" class="nav-link">Professionals</a>
                    </div>
                </div>
            </nav>
            <br>
            <div id="details">
                <div class="container m-2 p-2 w-75">
                    <h5>{{category}}.. At Home</h5>
                    <p class="mx-2">{{description}}</p>
                </div>
            </div>
            <br>
            <div id="providers" class="container mx-3 bg-light" *ngFor="let P of providers; index as i">
                <div class="container m-2 p-2">
                    <h3 class="mb-0 ">{{P.firstName}} {{P.lastName}}</h3>
                    <p class="mx-4">{{P.providerCity}} , {{P.providerCity}}</p>
                    <h5 class="fa fa-star checked text-success"> {{P.rating}}</h5>
                    
                </div>
            </div>
        </div>
    </section>
</div>
